@import url('https://fonts.googleapis.com/css2?family=PT+Sans&family=Raleway:wght@300;400;700&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

a {
	text-decoration: none;
	color: #262626;
}

a, button, input[type=button], input[type=submit] {
    -webkit-transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,opacity .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
    -o-transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out,opacity .15s ease-in-out;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out,opacity .15s ease-in-out;
    cursor: pointer;
}

html, body {
	font-family: 'Raleway', /*'PT Sans',*/ Arial, Helvetica, sans-serif;
	font-size: 16px;
	line-height: 1.6875;
	color: #262626;
	height: 100%;
	max-height: 100vh;
}

.header {
	padding-top: 47px;
	background: url(../image/bg-header.jpg) 50%;
	background-size: auto 100%;
	min-height: 1000px;
	position: relative;
}

.container {
	width: 1200px;
	padding-left: 15px;
	padding-right: 15px;
	margin: 0 auto;
}

.header__top {
	margin-bottom: 255px;
}

.nav {
	float: right;
	padding-top: 13px;
}

.nav__item {
	display: inline;
	list-style-type: none;
	padding-left: 0;
	font-size: 1rem;
	font-weight: bold;
	margin-right: 1.875em;
	padding-top: 0.5em;
}

.nav__item:last-child {
	margin-right: 0;
}

.nav__link {
	display: inline-block;
	text-transform: uppercase; 
	position: relative;
}

.nav__link:before {
	display: block;
	position: absolute;
	left: 0;
	top: -8px;
	content: "";
	height: 3px;
    width: 0;
    background-color: #FFFFFF;
    transition: 0.5s ease-in-out; 
    transition-property: width, background-color;
}

.nav__item:hover .nav__link:before {
	 width: 100%;
	 background-color: #ff6033;
}

.nav__item:active .nav__link {
	color: #ff6033;
}

.nav__link:focus {
	outline: #ff6033 solid 1px;
}

.info {
	margin-bottom: 30px;
}

.info--center {
	text-align: center;
}

.info__title {
	font-size: 5.625rem;
	font-weight: 700;
	margin-bottom: 16px;
	line-height: 1.3;
}

.header__title {
	font-size: 3.75rem;
}

.info__lead {
	font-size: 1.0625rem;
	line-height: 1.5882352;
}

.info__lead:not(:last-child) {
	margin-bottom: 1rem;
}

.btn {
	display: inline-block;
	min-width: 170px;
	padding: 0.9em 1.35em;
	font-size: 1.25rem;
	font-weight: 300;	
	line-height: 1;
	text-align: center;
	text-decoration: none;
	white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    background-color: #fff;
	border: none;
	border-radius: 0;
	outline: none;
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.5);
}

.btn-primary {
	text-transform: uppercase;
	background-color: #ff6033;
	color: #ffffff;
}

.btn-primary:hover {
	color: #ff6033;
	background-color: #ffffff;
	outline: #ff6033 solid 3px;
}

.btn-primary:active {
	background-color: #f13500;
	color: #ffffff;
}

.btn-primary:focus {
	outline: #f50000 solid 3px;
}

.scroll {
	display: block;
	height: 40px;
	width: 24px;
	position: absolute;
	bottom: 69px;
	left: 50%;
	margin-left: -12px;
}

.scroll:hover {
	opacity: 0.7;
}

.section-about {
	background: #00aeae;
	color: #ffffff;
	padding-top: 70px;
	padding-bottom: 70px;
}

.section-about__info {
	padding-left: 70px;
}

.section-about__img {
	margin-left: 12px;
	filter: drop-shadow(-17px 9px 20px rgba(0, 0, 0, 0.3));
}

.section-services {
	background: #70bfff;
	color: #ffffff;
	padding-top: 105px;
	padding-bottom: 150px;
}

.section-services__controls {
	padding-top: 75px;
}

.btn-services {
	display: flex;
	flex-direction: column;
	justify-content: center;
	position: relative;
	padding: 25px 126px 25px 25px;
	min-height: 100px;
	width: 400px;
	font-weight: 700;
	line-height: 1.35;
	white-space: normal;
	box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.5);
}

.btn-services:not(:last-child) {
	margin-bottom: 20px;
}

.btn-services:after {
	content: '';
	position: absolute;
	right: 0;
	top: 0;
	display: block;
	width: 101px;
	height: 100%;
	border-left: 1px solid #9d9d9d;
	background-color: transparent;
	background-position: center center;
	background-repeat: no-repeat; 
}

.btn-services--shopping:after {
	background-image: url(../image/icon-shopping.svg);
}

.btn-services--product:after {
	background-image: url(../image/icon-product.svg);
}

.btn-services--delivery:after {
	background-image: url(../image/icon-delivery.svg);
}

.btn-services--organized:after {
	background-image: url(../image/icon-organize.svg);
}

.btn-services:hover {
	background-color: #c7dffb;
	outline: #5c8ab3 solid 3px;
}

.btn-services:active {
	background-color: #689fde;
}

.btn-services:focus {
	outline: #545dd6 solid 3px;
}

.wrapper--relative {
	position: relative;
}

.section-services__img {
	margin-left: auto;
	display: flex;
}

.section-services__title {
	position: absolute;
	top: calc(50% - 45px);
	right: 0;
	line-height: 1;
	margin-bottom: 0;
}

.section-gallery {
	background-color: #ffe92f;
	padding-top: 100px;
	padding-bottom: 120px;
}

.section-gallery__photos {
	font-size: 0;
	margin-bottom: 42px;
}

.section-gallery__img {
	display: inline-block;
	max-width: 100%;
	height: auto;
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.5);
}

.btn-second {
	text-transform: uppercase;
	background-color: #5585a2;
	color: #ffffff;
}

.btn-second:hover {
	color: #5585a2;
	background-color: #ffffff;
	outline: #5585a2 solid 2px;
}

.btn-second:active {
	background-color: #306788;
	color: #ffffff;
}

.btn-second:focus {
	outline: #7bcdff solid 3px;
}

.section-subscribe {
	background: url(../image/bg-subscribe.jpg);
	padding-top: 140px;
	padding-bottom: 163px;
}

.info__title--subscribe {
	font-size: 2.5rem;
}

.btn-third {
	text-transform: uppercase;
	background-color: #96b92c;
	color: #ffffff;
}

.btn-third:hover {
	background-color: #ffffff;
	color: #96b92c;
	outline: #96b92c solid 3px;
}

.btn-third:active {
	background-color: #7d9c1f;
	color: #ffffff;
}

.btn-third:focus {
	outline: #ccf15b solid 3px;
}

.form-subscribe__input-field {
	width: 100%;
	font-size: 0.9375rem;
	font-weight: 300;
	line-height: 1.8;
	padding: 12px 12px;
	border: #262626 solid 1px;
	outline-color: transparent; 
}

.form-subscribe__input-field:hover {
	outline: #96b92c solid 3px;
}

.form-subscribe__input-field:active {
	outline: #7d9c1f solid 3px;
}

.form-subscribe__input-field:focus {
	outline: #ccf15b solid 3px;
}

.section-blog {
	background-color: #b07cf7;
	padding-top: 100px;
	padding-bottom: 120px;
}

.blog-article {
	display: block;
	padding-top: 30px;
	color: #ffffff;
	box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.5);
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin-bottom: 42px;
}

.blog-article:hover {
	opacity: 0.85;
}

.blog-article:active {
	box-shadow: 0px 0px 10px 10px rgb(65, 42, 97);
}

.blog-article:focus {
	opacity: 0.6;
}

.blog-article--primary {
	background-image: url(../image/img-blog1.jpg);
}	

.blog-article--secondary {
	background-image: url(../image/img-blog2.jpg);
}

.blog-article--third {
	background-image: url(../image/img-blog3.jpg);
}

.blog-article__date {
	background-color: rgb(38, 38, 38, 0.502);
	border-radius: 5px;
	width: 60px;
	text-align: center;
	margin-left: 30px;
	margin-bottom: 69px;
}

.blog-article__day {
	font-size: 2rem;
	font-weight: 700;
}

.blog-article__month {
	font-size: 1.3125rem;
	text-transform: uppercase;
	font-weight: 700;
}

.blog-article__info {
	height: 150px;
	padding: 45px 25px 30px 20px;
}

.blog-article__info--gradient {
	background: linear-gradient(0deg, rgba(0, 0, 0, 0.9), rgb(255, 255, 255, 0));
}

.blog-article__title {
	display: block;
	font-family: 'PT Sans';
	font-size: 1.25rem;
	line-height: 1.25;
	font-weight: 400;
	margin-bottom: 20px;
}

.blog-article__autor {
	display: block;
	font-family: 'PT Sans';
	font-size: 0.8125rem;
}

.btn-fourth {
	text-transform: uppercase;
	background-color: #f72b3f;
	color: #ffffff;
}

.btn-fourth:hover {
	background-color: #ffffff;
	color: #f72b3f;
	outline: #f72b3f solid 3px;
}

.btn-fourth:active {
	background-color: #d4081c;
	color: #ffffff;
}

.btn-fourth:focus {
	outline: #ff8c8c solid 3px;
}

.section-contact {
	background-image: url(../image/bg-contact.jpg);
	padding-top: 85px;
	padding-bottom: 115px;
}

/*.wrapper-input {
	position: relative;
}*/

.wrapper-input:not(:last-child) {
	margin-bottom: 15px;
} 

.form-contact__text {
	background-color: #00c4c4;
	width: 500px;
	font-size: 0.9375rem;
	color: #ffffff;
	font-weight: 700;
	line-height: 1.5625;
	padding: 14px 20px;
	border: none;
	outline: none;
}

.form-contact__text::placeholder {
	color: #ffffff;
	font-weight: 300;
}

.form-contact__vertical-line {
	display: block;
	width: 3px;
	height: 100%;
	background-color: #00c4c4;
	position: absolute;
	left: 0px;
	top: 0;
}

.wrapper-input:hover .form-contact__text, .wrapper-input:hover .form-contact__vertical-line {
	background-color: #1de2e2;
}

.wrapper-input:active .form-contact__text, .wrapper-input:active .form-contact__vertical-line{
	background-color: #05a2a2;
}

.form-contact__text:focus+.form-contact__vertical-line {
	background-color: #355b82;
}

.form-contact__long-text {
	height: 200px;
	resize: none;
}

.contact__info {
	padding-left: 70px;
}

.contact__title {
	font-size: 1.0625rem;
	font-weight: 700;
	line-height: 1,470588;
}

.contact__lead {
	font-size: 1.25rem;
	font-weight: 300;
	line-height: 1.25;
}

.contact__lead:not(:last-child) {
	margin-bottom: 15px;
}

.bottom-footer {
	background-color: #262626;
	padding-top: 30px;
	padding-bottom: 30px;
}

.copyright {
	font-size: 1rem;
	color: #ffffff;
	font-weight: 300;
	line-height: 1.5625;
}

.site-author {
	font-size: 0.9375rem;
	color: #ffffff;
	font-weight: 300;
	line-height: 1.666666;
	text-align: right;
}

.site-autor__I-dont-know {
	color: #f12b55;
}

.logo--small {
	width: 64px;
	height: 26px;
}